<%= form_for(@collection) do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% @collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<fieldset>
	  <div class="field">
	    <%= f.text_field :title, :placeholder => "Title" %>
	  </div>
	  <div class="field">
	    <%= f.text_area :description, :placeholder => "Description" %>
	  </div>
	<%= collection_select(:collection, :category_id, Category.all, :id, :name) %><br/>
	<div class="field">
	  <%= f.label "Private" %>
	  <%= f.check_box :visibility %>
	</div>
</fieldset>
<fieldset>
	<%= f.fields_for :items do |builder| %>
	  <%= render "item_fields", :f => builder %>
	<% end %>
</fieldset>

  <div class="actions"><br/>
    <%= f.submit %>
  </div>
<% end %>
