<h2 class="title"><span>Listing collections</span></h2>

<h1><%= @title %></h1>

<% @collections.each do |collection| %>
<div class="collectionWrapper">
	<div class="userInfo">
	    <%= image_tag collection.user.photo.url(:thumb) %><br />
			<%= collection.user.name %><br />
	</div>

	<div class="collectionData">
		<h1><%= link_to collection.title, collection %></h1>
		<%= collection.description %><br />

		<% if collection.visibility %>
			<%= image_tag "private.png", :alt => "Private collection" %>
			<% else %>
			<%= image_tag "public.png", :alt => "Public collection" %>
			<% end %>
			<!--<%= collection.created_at %>--><br /> 
	
			<div class="collectionDataPhotos">
				<% collection.items[0,4].each do |item| %>
				<a rel="photo_group" href="<%= item.photo.url %>" title="<h1><%= item.title %></h1><br/><%= item.description %>">
				<%= image_tag item.photo.url_thumb, :class => 'itemPhotos' %>
				</a>
				<% end %>
		<%= link_to "...", collection %>
			</div>
	</div>
</div>
<br/>
<% end %>

