<h1 style="text-align:center">Collections</h1>

<h1><%= @title %></h1>

<% @collections.each do |collection| %>
<div class="collectionWrapper">
	<div id="userInfo">
	    <%= image_tag collection.user.photo.url(:thumb) %>
			<h1><%= collection.user.name %></h1>
	</div>

	<div id="collectionData">
		<div id="collectionTopBar">
			<%= link_to collection.title, collection %>
		</div>
		<div id="collectionDescription"><%= collection.description %></div>
		
		<% if collection.visibility %>
			<%= image_tag "private.png", :alt => "Private collection", :id => "collectionVis" %>
			<% else %>
			<%= image_tag "public.png", :alt => "Public collection", :id => "collectionVis" %>
			<% end %>
			
			
			<!--<%= collection.created_at %>--><br /> 

			<div id="collectionDataPhotos">
				<% collection.items[0,6].each do |item| %>
					<div id="photo">
					<a class="group" rel="photo_group[<%= collection.id %>]" href="<%= item.photo.url(:original) %>" title="<h1><%= item.title %></h1><br/><%= item.description %>">
					<%= image_tag item.photo.url(:thumb) %><br/>
					</a>
					</div>
				<% end %>					
				<%= link_to "...", collection %>
			</div>
	</div>
</div>
<br/>
<% end %>

