<h1 style="text-align:center"><%= @title %></h1>

<% @collections.each do |collection| %>
<div class="collectionWrapper">
	<div id="userInfo">
	    <%= image_tag collection.user.photo.url(:thumb) %>
			<h1><%= collection.user.name %></h1>
			<% if user_signed_in? && current_user.has_not_reached(collection.user) %>
			<%= link_to "Add as friend", :controller => :invite, :action => :create, :dest_id => collection.user.id %>
			<% end %>
	</div>

	<div id="collectionData">
		<div id="collectionTopBar">
			<%= link_to collection.title, collection %>
			<% if user_signed_in? && current_user.id == @id.to_i %>
			<%= link_to image_tag("delete.png"), collection, confirm: 'Are you sure you want to delete collection?', method: :delete %>
			<%= link_to image_tag("edit.png"), edit_collection_path(collection) %>
			<% end %>
		</div>
		<div id="collectionDescription"><%= collection.description %></div>
		
		<% if collection.visibility %>
			<%= image_tag "private.png", :alt => "Private collection", :id => "collectionVis" %>
			<% else %>
			<%= image_tag "public.png", :alt => "Public collection", :id => "collectionVis" %>
			<% end %>
			
			
			<!--<%= collection.created_at %>--><br /> 

			<% if !collection.visibility %>
			
				<div id="collectionDataPhotos">
					<% collection.items[0,6].each do |item| %>
						<div id="photo">
						<a class="group" rel="photo_group[<%= collection.id %>]" href="<%= item.photo.url(:original) %>" title="<h1><%= item.title %></h1><br/><%= item.description %>">
						<%= image_tag item.photo.url(:thumb) %><br/>
						<% if user_signed_in? && current_user == item.collection.user %>
							<%= link_to image_tag("delete.png", :id => "deleteItem"), item, confirm: 'Are you sure you want to delete item?', method: :delete %>
						<% end %>
						</a>
						</div>
					<% end %>					
					<%= link_to "...", collection %>
				</div>
			<% else %>					
				<% if user_signed_in? && (collection.user.users.include?(current_user) || collection.user == current_user) %>			
					<div id="collectionDataPhotos">
						<% collection.items[0,6].each do |item| %>
							<div id="photo">
							<a class="group" rel="photo_group[<%= collection.id %>]" href="<%= item.photo.url(:original) %>" title="<h1><%= item.title %></h1><br/><%= item.description %>">
							<%= image_tag item.photo.url(:thumb) %><br/>
							<% if user_signed_in? && current_user == item.collection.user %>
								<%= link_to image_tag("delete.png", :id => "deleteItem"), item, confirm: 'Are you sure you want to delete item?', method: :delete %>
							<% end %>
							</a>
							</div>
						<% end %>					
						<%= link_to "...", collection %>
					</div>			
				<% else %>
				This collection is private, add this user as a friend to see his private collections.
				<% end %>
			
			<% end %>
	</div>
</div>
<br/>
<% end %>
	
