<h1 style="text-align:center"><%= @title %></h1>
	<% if user_signed_in? && current_user.id == @id.to_i %>
	<button class="clean-gray" onClick="window.location.href='<%= new_collection_path %>'">Add collection</button>	
	<% end %>

	<% @collections.each do |collection| %>
	<div class="collectionWrapper">
		<div id="userInfo">
		    <%= image_tag collection.user.photo.url(:thumb) %>
				<h1><%= collection.user.name %></h1>
		</div>

		<div id="collectionData">
			<h1><%= link_to collection.title, collection %></h1>
			<div id="collectionDescription"><%= collection.description %></div>

			<% if collection.visibility %>
				<%= image_tag "private.png", :alt => "Private collection", :id => "collectionVis" %>
				<% else %>
				<%= image_tag "public.png", :alt => "Public collection", :id => "collectionVis" %>
				<% end %>
				<!--<%= collection.created_at %>--><br /> 

				<div id="collectionDataPhotos">
					<% collection.items[0,6].each do |item| %>
						<a class="group" rel="photo_group[<%= collection.id %>]" href="<%= item.photo.url(:original) %>" title="<h1><%= item.title %></h1><br/><%= item.description %>">
						<%= image_tag item.photo.url(:thumb), :class => 'itemPhotos' %>
						</a>
					<% end %>					
					<%= link_to "...", collection %>
				</div>
		</div>
	</div>
	<br/>
	<% end %>
