<p id="notice"><%= notice %></p>

<p>
  <h1>  <%= @collection.title %> </h1>
</p>

<p>
  <h3>  <%= @collection.description %> </h3>
</p>

<!--
<% if @collection.visibility %>
<%= image_tag "private.png", :alt => "Private collection" %>
<% else %>
<%= image_tag "public.png", :alt => "Public collection" %>
<% end %>

 <p>
  <b>User:</b>
  <%= @collection.user.name %>
</p>

<p>
  <b>Category:</b>
  <%= @collection.category.name %>
</p> -->
<br />
<div  class="items">
<% @collection.items.each do |item| %>
	<a rel="photo_group" href="<%= item.photo.url(:original) %>" title="<h1><%= item.title %></h1><br/><%= item.description %>">
	<%= image_tag item.photo.url(:thumb), :class => 'itemPhotos' %>
	</a> 
<% end %>
</div><br />
<br /><br />
<!-- <%= link_to 'Edit', edit_collection_path(@collection) %> | -->
<%= link_to 'Back', collections_path %> 
