<h1>Listing collections by category</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Visibility</th>
	<th>Date</th>
    <th>User</th>
	<th>Photos</th>
  </tr>

<% @collections.each do |collection| %>
  <tr>
    <td><%= collection.title %></td>
    <td><%= collection.description %></td>
    <td><%= collection.visibility %></td>
	<td><%= collection.created_at %></td>
    <td><%= collection.user.name %></td>
<% collection.items.each do |item| %>
<td><%= image_tag item.photo.url_thumb %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />
