<p id="notice"><%= notice %></p>

<p>
  <h1>  <%= @collection.title %> </h1>
</p>

<p>
  <h3>  <%= @collection.description %> </h3>
</p>

<% if !@collection.visibility %>
	<div id="collectionDataPhotos">
	<% @collection.items.each do |item| %> 
		<div id="photo">
			<a class="group" rel="photo_group" href="<%= item.photo.url(:original) %>" title="<h1><%= item.title %></h1><br/><%= item.description %>">
			<%= image_tag item.photo.url(:thumb) %><br/>
			<% if user_signed_in? && current_user == @collection.user %>
			<%= link_to image_tag("delete.png", :id => "deleteItem"), item, confirm: 'Are you sure you want to delete item?', method: :delete %>
			<% end %>
			</a>
		</div>
	<% end %>
	</div>
<% else %>
	<% if user_signed_in? && (@collection.user.users.include?(current_user) || @collection.user == current_user) %>
	<div id="collectionDataPhotos">
	<% @collection.items.each do |item| %> 
		<div id="photo">
			<a class="group" rel="photo_group" href="<%= item.photo.url(:original) %>" title="<h1><%= item.title %></h1><br/><%= item.description %>">
			<%= image_tag item.photo.url(:thumb) %><br/>
			<% if user_signed_in? && current_user == @collection.user %>
			<%= link_to image_tag("delete.png", :id => "deleteItem"), item, confirm: 'Are you sure you want to delete item?', method: :delete %>
			<% end %>
			</a>
		</div>
	<% end %>
	</div>
	<% else %>
	You don't have access to this collection. Add this user as a friend.<br/>
	<% end %>
<% end %><br />
<%= link_to 'Back', :back %> 
</div>