<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Tradeable:</b>
  <%= @item.tradeable %>
</p>

<p>
  <b>Sellable:</b>
  <%= @item.sellable %>
</p>

<p>
  <b>Date:</b>
  <%= @item.date %>
</p>

<p>
  <b>Collection:</b>
  <%= @item.collection_id %>
</p>

<p>
  <b>Photo:</b>
  <%= @item.photo_id %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
