<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
  <% if current_user.photo != nil %>
    <img src="<%= current_user.photo.url_thumb %>">
  <% end %>
  <br>
  <%= link_to current_user.name, edit_user_registration_path %><br />
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %><br><br>
  <%= link_to "MyCollections", collections_path + "/byUser/" + current_user.name %><br /><br />
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %><br><br>
  <%= link_to image_tag("signin_facebook.png"), user_omniauth_authorize_path(:facebook) %>
  </br></br></br>
<% end %>

