<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Merchant</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>

<body>
<div id="container">

<div id="sitename">
<h1>Merchant</h1>
<h2>share your collectibles</h2>
</div>

<div id="mainmenu">
<ul>
<li><a class="current" href="#">Home</a></li>
<li><a href="#">Sitemap</a></li>
<li><a href="#">About</a></li>
</ul>
</div>
 
<div id="wrap">

	<div id="leftside">
	<h1>My account</h1>
	<p>		
	   <%= render "left_side" %>
	</p>
</div>	

<div id="rightside">
<h1>Search</h1>
<p class="searchform">
<input type="text" alt="Search" class="searchbox" />
<input type="submit" value="Go!" class="searchbutton" />
</p>

<h1>Categories</h1>
<p><%= render "right_side" %></p>
</div>

<div id="content">
<%= yield %>
</div>
<div class="clearingdiv">&nbsp;</div>
</div>
</div>
<div id="footer">&copy; 2011 Merchant | All Rights Reserved</div>
</body>
</html>