<!DOCTYPE html>
<html>
<head>
  <title>Merchant</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="top">
  
    <h1>Merchant</h1>
  
  </div>

  <div id="container">

    <div id="right_side">
      <%= render "right_side" %>
    </div>

    <div id="left_side">
      <%= render "left_side" %>
    </div>

    <div id="content">
	  <%= yield %>
    </div>

    <div class="clear"></div>
  </div>
  
  <div id="footer">
  
    </center>Merchant - Copyright 2011</center>
  
  </div>


</body>
</html>
